<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <add key="LSD-Contract" value="https://pkgs.dev.azure.com/teamd-backend/lsd/_packaging/LSD-Contract/nuget/v3/index.json" />
    <description>Contract for LSD exam project</description>
    <authors>emilv and co.</authors>
  </packageSources>
</configuration>